# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.tlog
*.idb
*.pdb
*.lastbuildstate
*.sdf
*.suo
*.ilk
SourceCache.dat
*.ipch
/tests/BigCrossPlatformTest/UserMode/Debug
/tests/BigCrossPlatformTest/Win7Debug
/support/strgen/Release
